@import '../../core/var'
@import '../../core/mix'

//tab-balance-widthdraw
.tab-balance-withdraw
	margin-top 20px
	overflow hidden
.tab-balance-withdraw-hd
	b
		height 38px
		line-height 38px		
		font-size 14px
		color #333
	.tab-trigger
		display inline-block		
		font-size 0
	li
		position relative
		display inline-block
		margin-left 22px
		width 140px
		height 38px
		overflow hidden		
		a 
			display block
			width 138px
			height 36px
			border 1px solid #cbd1d5			
		.shadow-border
			position absolute
			left 0
			top 0
			z-index $zindex-page
			width 100%
			height 100%
			background url('/static/image/pay_active.png') no-repeat	
	.pay-alipay
		a			
			background url('/static/image/pay_alipay.png') no-repeat
	.pay-card
		a
			background url('/static/image/pay_card.png') no-repeat
	.pay-cash
		a
			background url('/static/image/pay_cash.png') no-repeat
	.active
		.shadow-border
			display block

.form-horizontal--pay
	margin  40px 0 0
	padding-left 135px
	width auto
	font-size 14px
	color #333
	.control-group
		margin 0 0 28px
		height 34px
		line-height 34px
	.control-label
		float left
		width 115px
		text-align left
	.controls
		margin-left 115px

.withdraw-introduce
	margin-left 20px
	font-size 14px
	color #39a1f1

.withdraw-introduce-dialog
	.modal-dialog
		.modal-header
			padding 0 14px
			height 51px
			line-height 51px
			.modal-title
				text-align center
				font-size 18px
				font-weight 600
				color #333
		.modal-body
			padding 20px 0 30px
			p
				padding 0 27px
				text-align left
				font-size 14px
				.color-red
					color #fa5050