@import '../../core/var'
@import '../../core/mix'

.integral-convert-records-list
	li
		height 80px
		border-bottom 1px solid #e1e5e8
		line-height 80px
		font-size 14px
		color #666
		overflow hidden
	.col-1
		padding 13px 20px 0 0
		width 70px
	.col-2,
	.col-3
		padding-top 20px
		line-height 1.5
	.col-2	
		width 295px
		.integral-count
			font-size 16px
			font-weight 600			
			color #333
	.col-3
		width 145px		
		.integral-quantity
			color #333	
	.col-4
		width 300px
	.col-5
		padding-right 20px
		width 100px
		text-align right
		a
			color #39a1f1
	.status--0,
	.status--1
		font-size 13px
	.status--0
		color #333
	.status--1
		color #f86f3e	
.integral-convert-records--empty,
.integral-convert-detail--empty,
.user-balance--empty
	padding 240px 0 110px
	background url('../image/integral_none_large.png') no-repeat center 112px
	text-align center
	font-size 18px
	color #a7aeb3
	.c-btn
		margin-top 30px			