@import '../../core/var'
@import '../../core/mix'

.form-updat-password
	margin 37px auto 0
	width 365px	
	.control-group
		margin-bottom 15px
		height 41px
		line-height 41px
	.control-label
		width 85px
		font-size 16px
		color #333
	.controls
		margin-left 95px	