@import '../../core/var'
@import '../../core/mix'

//myAssets
.myAssets
	margin 20px 0 0
	position relative
	padding 0 20px
	height 58px
	border 1px solid #e1e5e8
	line-height 58px
	.count-info
		vertical-align top
		font-size 14px
		color #666
	.count
		margin 0 10px 0 20px
		font-weight 600
		font-size 28px
		color #ff8208
	.c-btn--exchange
		position absolute
		left 270px 
		top 14px
		z-index $zindex-page
.c-btn--jump
	font-size 14px
	color #3a9fed

.tab-integral-convert
	margin-top 20px

.integral-convert-list
	margin 0 0 20px 5px
	overflow hidden
	li
		float left
		margin 20px 0 0 25px
		width 280px
		height 138px

.integral-convert-dialog
	.c-icon-close
		width 15px
		height 15px
	.modal-dialog
		width 575px
	.modal-header
		background-color #fff	
	.modal-body
		padding 0 40px 40px
	.media__img
		margin-right 18px
	.media__body
		font-size 16px	
	.ie-title
		font-weight 600	
		color #333
	.ie-integral,
	.ie-exchange-count
		font-size 14px		
		color #a9a9a9
	.ie-integral
		margin-top 4px
		em 
			font-size 24px
			color #ff5910
	.ie-exchange-count
		margin-top 10px
		font-size 0
		span
			font-size 14px		
		a,
		input
			font-size 16px		
	.c-btn
		margin-top 15px
		width 119px
		height 31px
		line-height 31px
		text-align center
		font-size 14px
		color #fff
		border-radius(3px)
	.ie-exchange-num
		font-size 16px
	.btn-count-decrease,
	.btn-count-increase,
	.ie-exchange-count-input
		display inline-block	
		width 23px
		height 21px
		text-align center
		font-size 16px
		color #8b8b8b
	.btn-count-decrease,
	.btn-count-increase
		border-style solid
		border-color #cbd1d5		
	.btn-count-decrease
		border-width 1px 0 1px 1px
	.btn-count-increase
		border-width 1px 1px 1px 0	
	.ie-exchange-count-input		
		border 1px solid #969696
		vertical-align top
	.ie-merchandise-intro,
	.ie-scope,
	.ie-validity
		margin-top 13px
		font-size 14px
		font-weight 600
		color #333
		p
			margin-top 10px
			font-weight 500
			font-size 12px
			color #777
	.ie-merchandise-intro
		margin-top 20px	