@import '../../core/var'
@import '../../core/mix'

.consultation-apply-processing,
.consultation-apply-complete
	margin-top 43px
	padding 25px 0
	background-color #fff
	.row-doctor-info		
		padding 0 33px
		ul
			border-top 1px solid #d8e1e5
			border-bottom 1px solid #d8e1e5
			li
				float left
				padding 12px 56px				
				border-right 1px solid #d8e1e5
				text-align left
				font-size 16px
				em
					color #41bed2
			.col-1
				width 80px
			.col-2
				width 64px
			.col-3
				width 80px
			.col-4
				width 256px			
			&:first-child
				border-left 1px solid #d8e1e5
		.view-resume
			i
				display inline-block
				margin-right 6px
				width 32px
				height 32px
				background url('/static/image/view.png') no-repeat
				vertical-align middle
			margin-top -3px			
			width 260px
			height 76px
			background-color #fea501
			border-radius(5px)
			box-shadow(0 4px #db8601)
			text-align center
			line-height 76px
			font-size 18px
			color #fff
	.row-consultation-detail
		margin 30px 33px 0
		padding-bottom 30px	 		
		border 1px solid #d8e1e5
		h3			
			padding 0 14px
			height 46px
			background-color #ecefef
			line-height 46px
			font-size 16px
			font-weight 600
			color #28b9cf				
		.item
			margin-top 10px
			padding 0 14px
			font-size 14px
			color #666
		.item-left
			float left
			width 70px
			text-align right
			font-weight 600
		.item-right 
			margin-left 90px
	.row-tips
		padding 70px 0 70px 550px
		background url('/static/image/consultation_processing.png') no-repeat 532px 50%
		color #c8cdcf
		p 
			font-size 30px			
		small
			font-size 20px					