<!doctype html>
<html>
<head>
	<meta charset="utf-8" />	
	<title>html5</title>
	<link rel="stylesheet" href="/static/css/core.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>	
<body class="bg-gradient">
	<div class="global-top">
		<div class="container">
			<span class="l">欢迎您，进入就诊通网站</span>
			<div class="r">
				<a class="message" href="">
					<i>1</i>
				</a>
				<span class="userbar">
					<a href="">登录</a>
					<span class="line-split">|</span>
					<a href="">退出</a>
				</span>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="container pr clearfix">
			<a class="l logo" href=""><img src="/static/image/logo_large.png" width="311" height="50" /></a>
			<ul class="nav">
				<li class="current"><a href="">首页</a></li>
				<li><a href="">接收的会诊</a></li>
				<li><a href="">我申请的会诊</a></li>
				<li><a href="">个人中心</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="media clearfix p-summay">
			<img class="media__img" src="/static/image/p_head.png" width="146" height="146" />
			<div class="media__body">
				<p class="p-name">
					张仲景<i class="p-v"></i>
				</p>
				<p class="p-office">乳腺外科 主任医师</p>
				<p class="p-degree">医学博士 / 博士后 / 硕士研究生导师</p>
			</div>
		</div>
		<div class="p-info">
			<table>
				<tr>
					<td><p class="prop">执业点：</p></td>
					<td>上海交通大学医学院附属新华医院 乳腺外科</td>
				</tr>
				<tr>
					<td><p class="prop">擅长：</p></td>
					<td>
						<span class="p-tag-wrapper">
							<span class="p-tag">乳腺癌</span>
						</span>
						<span class="ml10 p-tag-wrapper">
							<span class="p-tag">乳房发育</span>
						</span>					
					</td>
				</tr>
				<tr>
					<td><p class="prop">执业理念：</p></td>
					<td>
						最大限度的切除肿瘤，最大限度的保留乳房功能！外科学是科学、技术、艺术和哲学的完美结合！您健康，所以我快乐！ 乳腺外科 乳腺外科
					</td>
				</tr>
				<tr>
					<td><p class="prop">社会职务：</p></td>
					<td>
						上海交通大学医学院附属新华医院乳腺外科学科带头人<br />                    中国医师协会外科分会乳腺
					</td>
				</tr>
			</table>			
		</div>
		<div class="p-introduce">
			<h3>临床特色</h3>
			<p>
				乳腺良恶性肿瘤的早期诊断；<br />    
				乳腺癌的保乳手术和根治性手术；<br />     
				乳腺肿瘤的整形外科技术；<br />     
				乳头溢液和簇状钙<br /> 
			</p>			
		</div>
		<div class="p-introduce">
			<h3>执业经历</h3>
			<p>
				于2002浙江大学医学院攻读博士学位，2005年进入上海交通大学医学院附属瑞金医院临床医学博士后流动站，并担任医学院博士后联谊
			</p>			
		</div>
		<div class="p-introduce">
			<h3>学术成果</h3>
			<p>
				基础研究方面主要致力于乳腺癌的分子发病机制、纳米药物靶向和分子影像学早期诊断的研究。目前主持和参加“863”、国家自然科学基金
			</p>			
		</div>
	</div>
	<div class="footer">
		<div class="footer-hd">
			<div class="container">
				<div class="media clearfix footer-media--weixin">
					<img class="media__img" src="/static/image/weixin.jpg" width="72" height="72" />
					<div class="media__body">
						<span class="attention">关注微信公众号</span>
						<p>客服热线：400-888-4013</p>
						<p>用手机上传病历资料</p>
					</div>
				</div>				
			</div>
		</div>
		<div class="footer-bd">
			<div class="footer-nav">
				<a href="">关于我们</a>
				<span class="line-split">|</span>
				<a href="">联系我们</a>
				<span class="line-split">|</span>
				<a href="">招贤纳士</a>
				<span class="line-split">|</span>
				<a href="">反馈信息</a>
				<span class="line-split">|</span>
				<span>使用条款 移动版</span>
			</div>
			<p class="copyright">
				2014诊通健康科技(上海)有限公司 All Rights Reserved 沪ICP备09010079号-14沪卫(中医) 网审[2015]第10069号
			</p>
		</div>
	</div>
	<script src="/static/js/all.js"></script>
	<script src="/static/js/page/usercenter/personal_detail.js"></script>
</body>
</html>