<!doctype html>
<html>
<head>
	<meta charset="utf-8" />	
	<title></title>
	<link rel="stylesheet" href="/static/css/core.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>	
<body class="page--small">
	<div class="container">
		<a class="logo" href="/">
			<img src="/static/image/logo.png" width="80" height="98" />
		</a>
		<div class="register-box">
			<h3 class="title">注册就诊通账号</h3>		
			<form class="form-horizontal">
				<div class="control-group clearfix">
					<label class="control-label"></label>
					<div class="controls">
						<input class="c-input c-input--bordered c-input--xxxlarge" type="text" placeholder="手机号码" />
					</div>
				</div>
				<div class="control-group clearfix">
					<label class="control-label"></label>
					<div class="controls">
						<input class="c-input c-input--bordered c-input--xxxlarge c-input--xxlarge" type="password" placeholder="验证码" />
						<button id="J_btn-verifyCode" class="ml15 btn-default c-btn--xlarge">获取验证码</button>
						<p class="validate-error">手机验证码输入不正确</p>
					</div>
				</div>
				<div class="control-group clearfix">
					<label class="control-label"></label>
					<div class="controls">
						<input class="c-input c-input--bordered c-input--xxxlarge" type="password" placeholder="密码" />
						<p class="validate-error">密码输入不正确</p>
					</div>
				</div>						
				<div class="control-group control-group--custom clearfix">
					<label class="control-label"></label>
					<div class="controls">
						<label class="f16 checkbox-label" for="agreeProtocol">
							<input id="agreeProtocol" type="checkbox" />
							我已阅读并同意<a class="tdl color-red" href="">就诊通服务协议</a>
						</label>								
					</div>
				</div>
				<div class="control-group control-group--btn clearfix">
					<label class="control-label"></label>
					<div class="controls">
						<button class="c-btn c-btn--xxxlarge c-btn--fillet c-btn--orange">
							注册
						</button>
					</div>
				</div>
			</form>
			<p class="link-register">已有就诊通账号？ <a href="">立即登录 >></a></p>
		</div>
	</div>
	<div class="footer">
		<div class="footer-bd">
			<div class="footer-nav">
				<a href="">关于我们</a>
				<span class="line-split">|</span>
				<a href="">联系我们</a>
				<span class="line-split">|</span>
				<a href="">招贤纳士</a>
				<span class="line-split">|</span>
				<a href="">反馈信息</a>
				<span class="line-split">|</span>
				<span>使用条款 移动版</span>
			</div>
			<p class="copyright">
				2014诊通健康科技(上海)有限公司 All Rights Reserved 沪ICP备09010079号-14沪卫(中医) 网审[2015]第10069号
			</p>
		</div>		
	</div>
	<script src="/static/js/all.js"></script>
	<script src="/static/js/page/common/register.js"></script>
</body>
</html>
		

