@import 'core/scoffolding'
@import 'component/button'
@import 'component/form'
@import 'component/tab'
@import 'component/table'
@import 'component/icon'
@import 'component/dialog'
@import 'component/pagination'
@import 'page/common/common'
@import 'page/common/header'
@import 'page/common/footer'
@import 'page/home/home'
@import 'page/usercenter/personal_detail'
@import 'page/usercenter/user_info'
@import 'page/usercenter/user_resume'
@import 'page/usercenter/user_password'
@import 'page/usercenter/user_integral'
@import 'page/usercenter/user_integral_records'
@import 'page/usercenter/user_integral_detail'
@import 'page/usercenter/user_balance'
@import 'page/usercenter/user_balance_withdraw'
@import 'page/remotecase/consultation_apply'
@import 'page/remotecase/consultation_apply_processing'
@import 'page/remotecase/consultation_apply_complete'
@import 'page/remotecase/consultation_receive'
@import 'page/remotecase/consultation_detail'