@import '../core/var'
@import '../core/mix'

.c-table
	width 100%
	max-width 100%
	th,
	td	
		max-width 180px		
		font-size 14px
		color #333
		word-break break-all	
	td
		padding 23px 0
	.pl30
		padding-left 30px
	.pr30
		padding-right 30px
	.pl50
		padding-left 50px
	.pl90
		padding-left 90px		
	>thead
		>tr	
			>th 
				height 49px
				background-color #eaeff0
				line-height 49px				
				font-weight 600				
	>tbody
		.even			
			background #f5fafc