<!doctype html>
<html>
<head>
	<meta charset="utf-8" />	
	<title>html5</title>
	<link rel="stylesheet" href="/static/css/core.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>	
<body>
	<div class="global-top">
		<div class="container">
			<span class="l">欢迎您，进入就诊通网站jaklsdjlkajsdlkjasldjlkasdkklasdklasdjl</span>
			<div class="r">
				<a class="message" href="">
					<i>1</i>
				</a>
				<span class="userbar">
					<a href="">登录</a>
					<span class="line-split">|</span>
					<a href="">退出</a>
				</span>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="container pr clearfix">
			<a class="l logo" href=""><img src="/static/image/logo_large.png" width="311" height="50" /></a>
			<ul class="nav">
				<li class="current"><a href="">首页</a></li>
				<li><a href="">接收的会诊</a></li>
				<li><a href="">我申请的会诊</a></li>
				<li><a href="">个人中心</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="layout-two clearfix">
			<div class="layout-two-left">
				<div class="mod-box--first home-welcome">
					<img src="/static/image/head.png" width="120" height="120" />
					<p class="text">
						<b>您好，</b><em class="color-warn">陈医生</em><br />
						欢迎回来！
					</p>
					<p class="time">
						<span>2015-10-14</span>
						<span class="ml10">星期三</span>
					</p>
				</div>
				<div class="mod-box--first home-integral">
					<p class="current-integral">
						<b>当前积分</b>
					</p>					
					<p class="current-integral-count">
						<em>1460</em>
					</p>
					<button class="btn-integral-exchange">我要兑换</button>
					<p class="current-integral successExchange" style="display: none;">
						<b>兑换成功</b>
					</p>
					<div class="home-integral-summary">
						<div class="hd">
							<h3>积分明细</h3>
						</div>						
						<div class="bd">
							<ul>
								<li>
									<em class="r">+300</em>
									<p class="text">院际会诊</p>
									<p class="time">2015-12-28 15:30</p>
								</li>
								<li>
									<em class="r">+300</em>
									<p class="text">院际会诊</p>
									<p class="time">2015-12-28 15:30</p>
								</li>
								<li>
									<em class="r">+300</em>
									<p class="text">院际会诊</p>
									<p class="time">2015-12-28 15:30</p>
								</li>
								<li>
									<em class="r">+300</em>
									<p class="text">院际会诊</p>
									<p class="time">2015-12-28 15:30</p>
								</li>
							</ul>
						</div>
						<div class="ft tc">
							<a class="link-integral-detail" href="">查看更多明细>></a>
						</div>						
					</div>
					<div class="home-integral-summary home-integral-summary--empty dn">
						<div class="hd">
							<h3>积分明细</h3>
						</div>
						<div class="bd">
							<p>您暂时还没有任何兑换记录</p>
						</div>												
					</div>					
				</div>
			</div>
			<div class="layout-two-right">
				<div class="mod-box--second home-order">
					<div class="hd">						
						<h3 class="title">待处理会诊<em>(4)</em></h3>
					</div>
					<div class="bd">
						<table class="c-table">
							<thead>
								<tr>
									<th class="tc" width="130">订单类型</th>
									<th class="tc" width="180">患者基本信息</th>
									<th class="tc pl30 pr30" width="320">疾病描述</th>
									<th class="tc" width="110">状态</th>
									<th class="tc" width="100">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="tc" width="130">接收的会诊</td>
									<td class="tc" width="180">增有幸 男 27岁</td>
									<td class="tc pl30 pr30" width="320">胆囊肿大，肝内胆管轻度扩张，以左胆管为甚，未明显颗粒样结石；</td>
									<td class="tc" width="110">
										<span class="order-status--1">待处理</span>
									</td>
									<td class="tc" width="100">
										<a class="operate--1" href="">开始会诊</a>
									</td>
								</tr>
								<tr class="even">
									<td class="tc" width="130">接收的会诊</td>
									<td class="tc" width="180">增有幸 男 27岁</td>
									<td class="tc pl30 pr30" width="320">胆囊肿大，肝内胆管轻度扩张，以左胆管为甚，未明显颗粒样结石；</td>
									<td class="tc" width="110">
										<span class="order-status--1">待处理</span>
									</td>
									<td class="tc" width="100">
										<a class="operate--1" href="">开始会诊</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="mod-box--second home-order home-order--empty dn">
					<div class="hd">						
						<h3 class="title">待处理会诊</h3>
					</div>
					<div class="bd">
						您还没有待处理的会诊
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-hd">
			<div class="container">
				<div class="media clearfix footer-media--weixin">
					<img class="media__img" src="/static/image/weixin.jpg" width="72" height="72" />
					<div class="media__body">
						<span class="attention">关注微信公众号</span>
						<p>客服热线：400-888-4013</p>
						<p>用手机上传病历资料</p>
					</div>
				</div>				
			</div>
		</div>
		<div class="footer-bd">
			<div class="footer-nav">
				<a href="">关于我们</a>
				<span class="line-split">|</span>
				<a href="">联系我们</a>
				<span class="line-split">|</span>
				<a href="">招贤纳士</a>
				<span class="line-split">|</span>
				<a href="">反馈信息</a>
				<span class="line-split">|</span>
				<span>使用条款 移动版</span>
			</div>
			<p class="copyright">
				2014诊通健康科技(上海)有限公司 All Rights Reserved 沪ICP备09010079号-14沪卫(中医) 网审[2015]第10069号
			</p>
		</div>		
	</div>
	<script src="/static/js/all.js"></script>
	<script src="/static/js/page/home/home.js"></script>
</body>
</html>
		